.section {
  margin-top: var(--space-20);
  margin-bottom: var(--space-20);
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  text-align: center; /* Center text content */
}

.sectionTitle {
  margin-bottom: var(--space-10);
  font-size: var(--size-2xl);
  font-weight: 700;
  text-align: center;
  color: #d4eaff; /* Set light blue color for section title */
}

.sectionSubtitle {
  margin-bottom: var(--space-10);
  font-size: var(--size-xl);
  font-weight: 400;
  text-align: center;
}

.heroTitle {
  margin-bottom: var(--space-9);
  font-size: var(--size-4xl);
  font-weight: 800;
  line-height: 1.25;
  text-align: center; /* Center the text */
}

.heroLead {
  max-width: 690px;
  color: var(--color-text-lighter);
  font-size: var(--size-xl);
}

.heroInfo {
  margin-bottom: var(--space-12);
}

.heroActions {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  gap: var(--space-6);
  align-items: center; /* Center children horizontally */
}

.featuresGrid {
  display: grid;
  gap: var(--space-10);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.featuresFeature {
  padding: var(--space-9);
  border: 1px solid #2e61ee; /* Set border color to light blue */
  border-radius: 20px; /* Add border-radius for soft edges */
  background: rgba(
    46,
    97,
    238,
    0.2
  ); /* Add a transparent background for a gradient effect */
}

.featuresFeatureTitle {
  margin-bottom: var(--space-4);
  font-weight: 600;
  text-align: center;
  color: #2e61ee; /* Set light blue color for feature title */
}

.featuresFeatureDescription {
  font-size: var(--size-sm);
  color: #d4eaff; /* Set light blue color for feature description */
}

.collaborationTasks {
  margin-top: 1rem; /* Add some space between project description and collaboration tasks */
}

.collaborationTasksTitle {
  font-size: 1rem; /* Set the font size to match the project title and description */
  margin-bottom: 0.5rem; /* Add some space below the title */
}

.collaborationTasksList {
  list-style-type: disc; /* Add bullet points to the tasks */
  margin-left: 1.5rem; /* Adjust the left margin for the bullet points */
}

.linkWithSpace {
  margin-left: 4px; /* Adjust the margin as needed */
  margin-right: 4px; /* Adjust the margin as needed */
}

.announcement {
  margin-bottom: 40px;
  max-width: 700px;
}

.lightBlueLink {
  color: #2e61ee;
}

.pill-outline {
  border: 2px solid white;
  border-radius: 50px; /* Adjust as needed for desired roundedness */
  padding: 10px 20px; /* Adjust padding as needed */
}

.pill-outline:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Add a subtle background on hover */
}
