.section {
  margin-top: var(--space-20);
  margin-bottom: var(--space-20);
}

.sectionTitle {
  margin-bottom: var(--space-10);
  font-size: var(--size-2xl);
  font-weight: 700;
  text-align: center;
}

.sectionSubtitle {
  margin-bottom: var(--space-10);
  font-size: var(--size-xl);
  font-weight: 400;
  text-align: center;
}

.heroTitle {
  max-width: 400px;
  margin-bottom: var(--space-9);
  font-size: var(--size-4xl);
  font-weight: 800;
  line-height: 1.25;
}

.heroLead {
  max-width: 690px;
  color: var(--color-text-lighter);
  font-size: var(--size-xl);
}

.heroInfo {
  margin-bottom: var(--space-12);
}

.heroActions {
  display: flex;
  gap: var(--space-6);
}

.featuresGrid {
  display: grid;
  gap: var(--space-10);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.featuresFeature {
  padding: var(--space-9);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}

.featuresFeatureTitle {
  margin-bottom: var(--space-4);
  font-weight: 600;
  text-align: center;
}

.featuresFeatureDescription {
  font-size: var(--size-sm);
}

.collaborationTasks {
  margin-top: 1rem; /* Add some space between project description and collaboration tasks */
}

.collaborationTasksTitle {
  font-size: 1rem; /* Set the font size to match the project title and description */
  margin-bottom: 0.5rem; /* Add some space below the title */
}

.collaborationTasksList {
  list-style-type: disc; /* Add bullet points to the tasks */
  margin-left: 1.5rem; /* Adjust the left margin for the bullet points */
}

.linkWithSpace {
  margin-left: 4px; /* Adjust the margin as needed */
  margin-right: 4px; /* Adjust the margin as needed */
}

.wallOfCollaboration {
  margin-top: 40px;
}

.wallOfCollaborationTitle {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.collaborationSuccessesList {
  list-style: none;
  padding: 0;
}

.collaborationSuccessesList li {
  margin-bottom: 8px;
}
